/* loader.css */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111111;
}

.loader img {
  width: 100px;
  height: 100px;
}

.loader p {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
